#map-canvas {
  width: 100% !important;
  height: 100vmin !important;
  z-index: 1;
  margin-bottom: 0;
}

.control {
  position: absolute;
  z-index: 2;
  width: 35px;
}

.control.tilt {
	margin-left: 10px;
  margin-top:10px;
}

.control.tilt button {
  font-weight: normal;
}

.control.rotation {
	margin-left: 10px;
  margin-top: 90px;
}

.control.rotation button {
  font-weight: normal;
}
.control.zoom {
	margin-left: 10px;
  margin-top: 170px;
}

.control.zoom button {
  font-weight: normal;
}

.control button {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  font-size: 11px;
  position: absolute;
}

.tooltip {
    width: 100px;
    z-index: 3;
}

#login-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  font-size: 13px;
  margin-top: 250px;
  margin-left: 10px;
  padding: 8px;
  position: absolute;
  z-index: 2;
}

#info-box {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  color: rgb(86, 86, 86);
  font-size: 15px;
  margin-top: 10px;
  margin-left: 50px;
  padding: 8px;
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 500px;
}
#custom-search-input{
    position: absolute;
    width: 340px;
    top:10px;
    right: 10px;
    z-index: 2;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 0px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 16px;
}

#search-results{
  padding: 8px;
}

#search-results span.data-container{
  padding: 3px;
}

#search-results span.data-container
  span.data-name{
  padding: 5px;
}